body {
    background-color: #323232;
    color: #ffffff;
    font-family: "orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
h1 {
    font-weight: 500;
}
input, button {
    font-family: "orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    text-align: center;
}

#error {
    color: #ff7f7f;
}

a {
    color: #7f7fff;
}
@media print {
    @page { margin: 0; }
    body { margin: 1.6cm; overflow: none; color: #000000 }
    p {
        color: #000000;
    }
    #print-button { opacity: 0%;}
    #qrcode { position: absolute; left: 50%; transform: translateX(-50%); height: 1000px; }
  }