body {
    background-color: #323232;
    color: #ffffff;
    font-family: "orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
h1 {
    font-weight: 500;
}
input, button {
    font-family: "orbitron", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    text-align: center;
}

#error {
    color: #ff7f7f;
}

a {
    color: #7f7fff;
}